* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Spectral", serif, arial;
    font-size: 20px;
    background: linear-gradient(0.25turn,rgba(93, 150, 237, 0.792), rgba(130, 163, 212, 0.792), rgba(93, 150, 237, 0.792));
}

h1, h2 {
    font-family: "Macondo", cursive, arial;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 36px;
    text-shadow: 3px 4px 7px rgba(78, 119, 158, 0.3);
}

img {
    max-width:100%;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
}

.navbar {
    height: 80px;
    font-family: "Macondo", cursive, arial;
    padding: 0 50px;
    background: linear-gradient(to right, rgba(247, 21, 213, 0.546), rgba(223, 94, 203, 0.546));
}

.navbar a {
    text-decoration: none;
    color:antiquewhite;
}

.navbar a:hover {
    color:aqua;
}

.navbar .logo {
    font-weight: bold;
    font-size: 30px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 64px;
    font-size: 25px;
}

header {
    align-items: center;
    background: linear-gradient(to bottom, #c7dce3, #e5eff2);
}

header h1 {
    line-height: 1.1;
    font-size: 36px;
    text-shadow: 3px 4px 20px rgba(150, 78, 146, 0.2);
}


header img {
    max-width: 400px;
    border-radius: 15px 50px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
    gap: 26px;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    min-height: 280px;
    padding: 40px;
}

.box p {
    text-align: center;
    font-weight: bold;
    font-family: "Macondo", cursive, arial;
    font-size: 20px;
    color:#092933
}

.box img {
    width: 180px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#boxes-title {
    margin-top: 72px;
    margin-bottom: 60px
}

blockquote {
    font-size: 26px;
    line-height: 1.1;
    font-weight: lighter;
    font-style: italic;
    color: white;
    background-color:#0a252e;
    padding: 60px;
    margin: 0 auto;
    text-shadow: 3px 4px 7px rgba(167, 142, 63, 0.2);
    min-height: 200px;
    background: linear-gradient(to right, #103947, #0c2b36);
}

blockquote figcaption {
    font-size: 20px;
    float: right;
    margin-top: 10px;
}

.sign-up {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 16px;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.2);
}

.container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 35px;
}

footer {
    display: flex;
    background: linear-gradient(to bottom, #c7dce3, #e5eff2);
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .boxes .container {
        display: block;
        text-align: center;
    }

    header .container {
       flex-direction: column;
       padding: 30px;
       text-align: center;
    }
    

    .navbar .container {
        flex-direction: column;
        padding-bottom: 20px;
    }
}